body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#body {
    padding: 20px;
    width: fit-content;
    height: fit-content;
    background-color: rgb(69, 158, 209);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    height: fit-content;
    width: 150px;
    background-color: rgb(10, 102, 155);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(17, 137, 206);
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

a {
    color: rgb(10, 102, 155);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}